<!doctype html>
<html>
   <body>
   <p>Admin panel - secretariat</p>
      <table border = 1>
          <tr>
              <th>name</th>
              <th>description</th>
              <th>location</th>
              <th>opening hours</th>
              <th>action</th>
          </tr>

          {% for s in scrs %}
          <tr>
              <td>{{ s.name}}</td>
              <td>{{ s.description}}</td>
              <td>{{ s.location}}</td>
              <td>{{ s.opening_hours}}</td>
              <td>Edit - TO DO</td>
          </tr>
        {% endfor %}

      </table>
   </body>
</html>