<!doctype html>
<html>
   <body>
   <h4>Admin panel - secretariat edit</h4>

   <form action="/admin/panel/secretariat/edit" method="post">
       <input type="hidden" name="_method" value="PUT">
       <input type="hidden" name="id" value="{{scr.id}}">
       Location:   <input type="text" name="location" value="{{scr.location}}"><br>
       Name:   <input type="text" name="name" value="{{scr.name}}"><br>
       Description:    <input type="text" name="description" value="{{scr.description}}"><br>
       Opening hours:  <input type="text" name="opening_hours" value="{{scr.opening_hours}}"><br>
    <input type="submit" value="Submit">
   </form>

   </body>
</html>